
.card {
    background: var(--surface);
    color: var(--text-color);
    margin: 0.5em;

    border-radius: 10px;
    box-shadow: #00000033 0 0 5px;
}

.card-section {
    margin: 0.5em;
    padding: 0.5em;
    border-bottom: 1px solid var(--border);
}